.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode
.svelteCMS
src/routes/admin/_core/types/dynamically.ts
svelteCMS/fastUpdate.js 